@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap');

body{
    text-align: center;
    margin: 0;
    background-color: #181818;
    overflow-x: hidden;

    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
    font-size: 1vw;
    color: #a0a0a0;
}

#canvas {
    position: fixed;
    left: 0px;
    top: 0px; 
    z-index: -2147483647;
}

#brank {
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

#page-title{
    color: #e0e0e0;
    font-weight: 800;
    font-size: 6vw;
}

#item-title{
    color: #c0c0c0;
    font-weight: 800;
    font-size: 4vw;
}

.social-icons{
    height: 2.5vw;
    width: 2.5vw;
    margin: 0.5vw;
    margin-bottom: 10vw;
}

.lang{
    height: 1.5vw;
}

a{
    color: #b0b0b0;
    font-size: 1.5vw;
}