@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Zen+Maru+Gothic:wght@500;600;900&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    margin: 0;
    background-color: rgb(51, 48, 45);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#content {
    width: 80%;
    margin: 0 auto;
    color: rgb(187, 177, 166);
    font-weight: 500;
    font-size: 1.2rem;
}

#icon {
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4rem #ffffbb88;
    opacity: 0.3;
    transition-duration: 1s;
    cursor: pointer;
}

#icon:hover {
    opacity: 0.9;
    border-radius: 5%;
    transform: translateY(-1rem);
    transition-duration: 0.5s;
}

#icon:active {
    transform: translateY(-0.5rem);
    transition-duration: 0.2s;
}

#icon-description-checkbox {
    display: none;
}

#icon-description {
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    display: inline-block;
    height: 2rem;
    opacity: 0;
    transform: rotateX(-85deg);
    transform-origin: top;
    transition-timing-function: ease;
    transition-duration: 1s;
}

#icon-description-checkbox:checked + #icon-description-label + #icon-description {
    transition-timing-function: ease;
    transition-duration: 1s;
    transform: rotateX(0deg);
    height: 10rem;
    opacity: 1;
}

#canvas {
    position: fixed;
    left: 0px;
    top: 0px; 
    z-index: -2147483647;
}

.page-title {
    margin-top: 100vh;
    color: rgb(212, 199, 184);
    font-weight: 900;
    font-size: 5rem;
}

.item-title {
    color: rgb(212, 199, 184);
    font-weight: 900;
    font-size: 4rem;
}

#yearsold {
    animation: birthday-gaming 2s linear infinite;
}

@keyframes birthday-gaming {
    0% {
        color: #ffbbff;
        text-shadow: 0 0 1rem #ffddff;
    }
    33% {
        color: #ffff88;
        text-shadow: 0 0 1rem #ffffdd;
    }
    66% {
        color: #88ffff;
        text-shadow: 0 0 1rem #ddffff;
    }
    100% {
        color: #ffbbff;
        text-shadow: 0 0 1rem #ffddff;
    }
}

#mugisus-regexp {
    color: rgb(180, 158, 138);
    background-color: rgba(22, 21, 21, 0.75);
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
}

#watermark {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0px;
    color: #c0c0c040;
    font-weight: 700;
    font-size: 1rem;
}

#tips {
    color: #c0c0c040;
    font-size: 1rem;
    margin-bottom: 5rem;
}

.social-icons {
    height: 3.5rem;
}

.social-icons-href {
    margin: 0 0.5rem
}

.social-icons-desctiption {
    position: absolute;
    text-align: center;
    display: inline;
}

.project-link {
    font-size: 1.6rem;
    color: rgb(216, 193, 157);
    transition-duration: 0.5s;
}

a {
    color: inherit;
}

a:hover {
    opacity: 0.6;
    transition-duration: 0.15s;
}