@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap');

body{
    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
    color: #d0d0d0;
    text-align: center;
    margin: 0;
    background-color: #181818;
    overflow-x: hidden;
}

#instruction{
    font-weight: 800;
}

#demo{
    height:50vh
}

#call-button{
    color: #448866;
}

#rec-button{
    color: #884444;
}

.box{
    position: relative;
    display: inline-block;
    margin: 0.5vw;
    width: 3.5vw;
    height: 3.5vw;
    background: #ffc05020; /* on: #ffc050c0 */
    transition-duration: 0.05s;
}

.box span{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    color: #ffebc7;
    transform: translate(-50%,-50%);
    font-size: 0.8vw;
}