@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap');

body{
    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
    color: #d0d0d0;
    text-align: center;
    margin: 0;
    background-color: #181818;
    overflow-x: hidden;
}

#instruction{
    font-weight: 800;
}

#demo{
    height:50vh
}

#surrogate-pair{
    font-size: 0.8vw;
    color: #bbbb66;
    opacity: 0.2;
    transition-duration: 0.15s;
}

#heard-letter{
    font-size: 2vw;
    color: #bbbb66;
}

#call-button{
    color: #448866;
}

#rec-button{
    color: #884444;
}

.box{
    position: relative;
    display: inline-block;
    margin: 0.5vw;
    width: 5vw;
    height: 5vw;
    background: #ffdd8820;
    transition-duration: 0.15s;
}

.box span{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    color: #f0f0f0;
    transform: translate(-50%,-50%);
    font-size: 1vw;
}