html, body{
    overflow: hidden;
    touch-action: manipulation;
}

body {
    background-color: #f0f3f3;
    text-align: center;
    margin: 0;
}

.container {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#button-listen {
    margin: 6.25vh 3vh 0;
    height: 12.5vh;
}

#button-selector {
    margin: 0 3vh;
    height: 32vh;
}

#button-call {
    margin: 0 3vh 6.25vh;
    height: 12.5vh;
}

#text-version {
    position: fixed;
    bottom: 1.5vh;
    right: 1.5vh;
    height: 2vh;
}
