@font-face {
	font-family: 'M PLUS 1p';
	src: url(MPLUSRounded1c-Medium.ttf);
}

body{
    font-family: 'M PLUS 1p';
    font-weight: 500;
    color: #d0d0d0;
    text-align: center;
    margin: 0;
    background-color: #181818;
    overflow-x: hidden;
}

#instruction{
    font-weight: 500;
}

textarea{
    color:#bbbb66;
    background-color: #303030;
}

#sound-sec-number, #threshold-number {
    border-style: solid;
    border-width: 1px;
    color:#bbbb66;
    background-color: #303030;
}

#heard-letter{
    font-size: 2rem;
    color: #bbbb66;
}

#confirmed-letter{
    font-size: 1.5rem;
    color: #bbbb6644;
}

#call-button{
    color: #448866;
}

#tuning-button, #auto-threshold-button{
    color: #888866;
}

#rec-button{
    color: #884444;
}

.box{
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 4.5vw;
    margin: 0.2vw;
    border-radius: 0.5vw;
    background: #ffdd8818;
    transition-duration: 0.15s;
}

.box span{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    color: #f0f0f0;
    transform: translate(-50%,-50%);
    font-size: 0.9vw;
}

#demo{
    height:50vh
}