@font-face {
	font-family: 'M PLUS 1p';
	src: url(MPLUSRounded1c-Medium.ttf);
}

html, body{
    overflow: hidden;
}

body {
    font-family: 'M PLUS 1p';
    background-color: #f0f3f3;
    text-align: center;
    margin: 0;
}

.container {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


#button-listen {
    margin-top: 6.25vh;
    height: 10vh;
}

#text-listen, #text-call {
    height: 2vh;
    margin: 1vh;
}

#button-call {
    margin-bottom: 6.25vh;
    height: 10vh;
}

#button-selector {
    margin: 0 9vh;
    height: 32vh;
}

#text-version {
    position: fixed;
    bottom: 1.5vh;
    right: 1.5vh;
    height: 2vh;
}
