html, body{
    overflow: hidden;
    touch-action: manipulation;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f0f3f3;
}

.container {
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
}

.container.main {
    background-color: #f0f3f3;
}

#button-listen {
    margin: 6.25vh 0 auto;
    height: 12.5vh;
}

#button-call {
    margin: auto 0 6.25vh;
    height: 12.5vh;
}

#button-selector-container {
    position: relative;
    width: 32vh;
    height: 32vh;
}

#button-selector-container, #button-listen, #button-call {
    transition-property: transform;
    transition-duration: 100ms;
}

#button-selector-container:active, #button-listen:active, #button-call:active {
    transform: scale(95%);
}

#button-selector-empty {
    position: absolute;
    left: 0;
    height: 100%;
}

#button-selector-fulfilled {
    position: absolute;
    left: 0;
    height: 100%;
    transition-property: clip-path;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    transition-duration: 1000ms;
    clip-path: polygon(0 0, 10.5% 0, 0 10.5%, 0 0);
}

#button-selector-fulfilled.fulfilled {
    transition-timing-function: cubic-bezier(0.6, 0, 0, 1);
    clip-path: polygon(0 0, 188.5% 0, 0 188.5%, 0 0);
}

#fulfilled-wave {
    z-index: -999;
    position: absolute;
    visibility: hidden;
    opacity: 100%;
    pointer-events: none;
    left: 2%;
    right: 2%;
    top: 2%;
    bottom: 2%;
    transition-property: visivility, all;
    transition-timing-function: step-start, cubic-bezier(0.1, 0.82, 0.25, 1);
    transition-delay: 0;
    transition-duration: 0;
    box-shadow: 0 0 0 0.75vh #59716b;
    border-radius: 50%;
}

#button-selector-fulfilled.fulfilled + #fulfilled-wave {
    visibility: visible;
    transition-delay: 1100ms;
    transition-duration: 1000ms;
    opacity: 0%;
    left: -30%;
    right: -30%;
    top: -30%;
    bottom: -30%;
}

#text-version {
    z-index: 100;
    position: fixed;
    bottom: 1.5vh;
    right: 1.5vh;
    height: 2vh;
}

.container.modal {
    pointer-events: none;
    z-index: 10000;
    background-color: #59716b60;
    visibility: hidden;
    opacity: 0%;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
}

.container.modal.opened {
    pointer-events: auto;
    visibility: visible;
    opacity: 100%;
}

.modal-window {
    display: flex;
    background-color: #e4ecea;
    border-radius: 0.5em;
    justify-content: center;
    flex-flow: column;
    transform: scale(90%);
    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
}

.container.modal.opened > .modal-window {
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: scale(100%);
}

#selector-textarea {
    margin: 0 1em;
    font-size: 20px;
    resize: none;
    width: 80vw;
    height: 40vh;
    color: #425853;
    background-color: #f0f3f3;
    border-color: #f0f3f3;
    border-width: 0.5vh;
    border-radius: 0.5em;
}

#selector-file {
    background-color: #59716b20;
    padding: 0.5em;
    border-radius: 0.3em 0.3em;
    margin: 0em auto 1em;
}

.description {
    font-style: italic;
    font-size: 20px;
    color: #425853;
    margin: 0.5em;
}